@import 'components/global';

body {
  font-family: $font-body;
  background-color: $color-white;
  color: $color-black;
}

a {
  text-decoration: none;
  color: $color-black;
  transition: color 0.25s ease-out;
  &:hover {
    color: $color-brown;
  }
}

@import 'components/forms';
@import 'components/navigation';
