# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/public/js
/public/css
/public/img
/public/fonts

# dependencies
/node_modules
app/assets/vendor
tmp/

# db
*.sqlite

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store
Thumbs.db
/coverage/*
npm-debug.log
testem.log
