<header>
  <h1>Rocket May's Sleep Log</h1>
</header>

<nav class='main-nav'>
  <a href='/' class='main-nav__link' title='Home'>
    <i class="fa fa-home"></i>
    {{!-- <span class='main-nav__link__text'>Home</span> --}}
  </a>
  <hr class='main-nav__divider'>
  <a class='main-nav__link' href='/track/bed' title='Sleep'>
    <i class="fa fa-clock-o"></i>
    {{!-- <span class='main-nav__link__text'>Sleep</span> --}}
  </a>
  <a class='main-nav__link' href='/track/wake' title='Wake'>
    <i class="fa fa-clock-o"></i>
    {{!-- <span class='main-nav__link__text'>Wake</span> --}}
  </a>
  <a class='main-nav__link' href='/chart/sleep' title='Sleep'>
    <i class="fa fa-bar-chart"></i>
    {{!-- <span class='main-nav__link__text'>Sleep</span> --}}
  </a>
  <hr class='main-nav__divider'>
  <a class='main-nav__link' href='/track/nap' title='Nap'>
    <i class="fa fa-clock-o"></i>
    {{!-- <span class='main-nav__link__text'>Nap</span> --}}
  </a>
  <a class='main-nav__link' href='/chart' title='Nap'>
    <i class="fa fa-bar-chart"></i>
    {{!-- <span class='main-nav__link__text'>Nap</span> --}}
  </a>
</nav>
