$font-body: 'Old Standard TT', serif;
$font-display: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$color-pink: #FFE4CF;
$color-green: #EFFFB1;
$color-brown: #B28F59;
$color-purple: #A79ACC;
$color-red: #B24244;
$color-white: lighten($color-green, 14.5%);
$color-black: #454545;
