<p>Tracking a baby's sleep pattern is important. This app uses a method from the book <a href='http://www.amazon.com/dp/0071381392/?tag=mh0b-20&hvadid=4965758102&ref=pd_sl_2w2xdipnop_e' target='_blank'><i>No-Cry Sleep Solution</i></a> by Elizabeth Pantley. It tracks sleep times and wake times in order help establish our baby's sleeping patterns.</p>
