<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Rocket May's sleep log</h1>
    </header>
    <nav class='main-nav'>
      <a class='main-nav__link' href='/track/bed'>Track A Bed Time</a>
      <a class='main-nav__link' href='/track/wake'>Track A Wake Time</a>
      <a class='main-nav__link' href='/chart'>Chart</a>
    </nav>
    {{{body}}}
    <footer>
      <p>If there are any issues with the app, please <a href="mailto:support@rocketmay.co">email support</a>.</p>
    </footer>
  </body>
</html>
